#port {
  height: 400px;
  padding: 100px;  
  background-color: #000000 ;
    color: white;
    justify-content: center;
}

img {
  margin: 5px;
  border: white 1px outset;
  box-shadow: 6px 10px 20px rgb(185, 185, 185);
  max-width: 200px;
}

.projectCard:hover{
  transform: scale(1.2);
}