* {
    font-family: 'Open Sans', sans-serif; 
    color: white;
   
}
i{
    font-size: 36px;
    margin: 10px 50px;
}

i:hover {
    color: rgb(216, 215, 215);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .contact{
     background: black;
     
    }
  
  }